.HomePage {
    text-align: center;
}

.AboutPage {
    text-align: center;
}

.DataCatalogPage {
    text-align: center;
}

.btn-group-lg {
    padding-bottom: 15px;
}

main > div .container {
    padding-top: 3em;
    padding-bottom: 2em;
}