.alert-submit{
    display: none
}

.testBedBox{
    border: solid grey 1px;
    border-radius: 10px;
    background-color: #f6f6f6;
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
